.general {
    display: grid;
    grid-template-columns: 
      320px
      180px
      150px
      100px
      120px
      80px;
    align-items: center;
    width: fit-content;
    user-select: none;
    -webkit-user-select: none;
    padding: 18px;
}

.general span {
    padding: 12px 8px;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #666;
    overflow: hidden;
    text-overflow: ellipsis;
}